anthropic==0.34.2
accelerate==0.34.2
ipython==8.12.3
jsonlines==4.0.0
matplotlib==3.9.2
numpy==2.1.1
openai==1.45.0
Pillow==10.4.0
protobuf==5.28.1
scikit_learn==1.5.2
scipy==1.14.1
torch==2.4.1
transformers==4.44.2
flash-attn==2.6.3
bitsandbytes==0.43.3
sentencepiece==0.2.0
torchvision==0.19.1
tqdm
google-generativeai
